<!-- views/applications/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= expense.name %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= expense.name %></h1>
    <% if (expense.description) { %>
    <p>Description: <%= expense.description %></p>
    <% } %>
    <p>Amount: <%= expense.amount %> </p>
    <p>Category: <%= expense.category %></p>

    <a href="/users/<%= user._id %>/dashboard/my-expenses/<%= expense._id %>/edit">
        Edit this application
      </a>
    <form
      action="/users/<%= user._id %>/dashboard/my-expenses/<%= expense._id %>?_method=DELETE"
      method="POST">
      <button type="submit">Delete this application</button>
  </body>
</html>
